In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(r'C:\Users\User\Desktop\Final Year Project\HKO Raw Data\wtws\wtws_2RS.csv')
df2 = pd.read_csv(r'C:\Users\User\Desktop\Final Year Project\HKO Raw Data\wtws\wtws_I2RS_0.csv')
df3 = pd.read_csv(r'C:\Users\User\Desktop\Final Year Project\HKO Raw Data\wtws\wtws_I2RS_1.csv')
df4 = pd.read_csv(r'C:\Users\User\Desktop\Final Year Project\HKO Raw Data\wtws\wtws_RR.csv')

In [3]:
# Convert the 'DATETIME' column in each DataFrame to datetime objects
df1['DATETIME'] = pd.to_datetime(df1['DATETIME']).dt.tz_convert(None)
df2['DATETIME'] = pd.to_datetime(df2['DATETIME']).dt.tz_convert(None)
df3['DATETIME'] = pd.to_datetime(df3['DATETIME']).dt.tz_convert(None)
df4['DATETIME'] = pd.to_datetime(df4['DATETIME']).dt.tz_convert(None)

In [4]:
# Step 2: Concatenate the DataFrames.
# Assuming they all have the same columns and you want to concatenate by rows.
concatenated_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [5]:
concatenated_df

,DATETIME,CORRIDOR_3RS,CORRIDOR_2RS,ALERT_TYPE,MAGNITUDE,LOCATION
0,2018-01-02 01:18:00,07RD,07RD,WSA,15,1MD
1,2018-01-02 01:19:00,07RD,07RD,WSA,15,1MD
2,2018-01-02 01:22:00,07RD,07RD,WSA,15,1MD
3,2018-01-02 01:23:00,07RD,07RD,WSA,15,1MD
4,2018-01-02 01:24:00,07RD,07RD,WSA,15,1MD
...,...,...,...,...,...,...
561887,2022-07-06 21:28:00,07CA,07LA,WSA,-15,2MF
561888,2022-07-06 21:29:00,07CA,07LA,WSA,-15,2MF
561889,2022-07-06 21:51:00,25CA,25RA,WSA,-15,RWY
561890,2022-07-06 21:52:00,25CA,25RA,WSA,-15,RWY
561891,2022-07-06 22:04:00,25LD,25LD,WSA,15,RWY

In [6]:
# Step 3: Export the concatenated DataFrame to an Excel file.
# You might want to specify an encoding if you have special characters.
concatenated_df.to_excel(r'C:\Users\User\Desktop\Final Year Project\Code\Processed_HKO\HKO_wtws_concatenated_data.xlsx', index=False)